# Virtual Environments
venv/
venv312/
.venv/
env/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE & Editor Configs
.vscode/
.idea/
*.swp
*.swo

# Environment Variables & Secrets
.env
.env.local

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db
